* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  height: 100vh;
  background: linear-gradient(135deg, #ff7e5f, #feb47b, #6a11cb, #2575fc);
  background-size: 300% 300%;
  animation: gradientMove 8s ease infinite;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Background Animation */
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

/* Form Container */
.form-box {
  background: #1e1e1e;
  padding: 35px;
  width: 370px;
  border-radius: 14px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.5);
  color: white;
  transition: 0.3s;
}

.form-box:hover {
  transform: translateY(-5px);
}

/* Heading */
h1 {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  font-weight: 600;
}

/* Input Box */
.input-box {
  margin-bottom: 18px;
}

/* Labels */
label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #bbb;
}

/* Inputs */
input,
select {
  width: 100%;
  padding: 11px;
  border: 1px solid #444;
  border-radius: 6px;
  outline: none;
  background: #2a2a2a;
  color: white;
  transition: all 0.3s ease;
}

/* Focus Effect */
input:focus,
select:focus {
  border-color: #6a11cb;
  box-shadow: 0 0 8px rgba(106,17,203,0.7);
}

/* Radio Group */
.radio-group {
  display: flex;
  gap: 12px;
  margin-top: 5px;
  color: #ccc;
}

/* Buttons Layout */
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 15px;
}

/* Submit Button (Big) */
.submit-btn {
  flex: 2;
  padding: 12px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(90deg, #ff7e5f, #6a11cb);
  color: white;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Submit Hover */
.submit-btn:hover {
  transform: scale(1.05);
  box-shadow: 0 5px 20px rgba(0,0,0,0.6);
}

/* Reset Button (Smaller) */
.reset-btn {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  background: #2f2f2f;
  color: #ccc;
  border: 1px solid #555;
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Reset Hover */
.reset-btn:hover {
  background: #444;
  color: white;
  transform: scale(1.05);
}

/* Error Message */
small {
  font-size: 12px;
  margin-top: 5px;
  display: block;
  color: #ff6b6b;
}